data-unversioned/cifar-10-python.tar.gz
data-unversioned/cifar-10-batches-py/batches.meta
data-unversioned/cifar-10-batches-py/data_batch_1
data-unversioned/cifar-10-batches-py/data_batch_2
data-unversioned/cifar-10-batches-py/data_batch_3
data-unversioned/cifar-10-batches-py/data_batch_4
data-unversioned/cifar-10-batches-py/data_batch_5
data-unversioned/cifar-10-batches-py/readme.html
data-unversioned/cifar-10-batches-py/test_batch
